body {
  background-color: #ffffff; 
  
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  
  background-size: 40px 40px; 
}

.window {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 250px;
    left: 520px;

    border: 1px solid black;
    border-radius: 20px;
    
    width: 500px;
    height: 250px;

    background-color: white;
}

.windowheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 35px;

    background-color: black;
    color: white;

    border-radius: 19px 19px 0 0;

    width: 500px;

    font-size: large;

    user-select: none;
    cursor: grab;
}

.windowheadertext {
    display: flex;
    
    font-size: larger;

    margin-left: 10px;
}

.windowclose {
    display: flex;
    
    margin-right: 10px;

    font-size: large;

    user-select: none;
    cursor: pointer;

    width: 25px;
    height: 25px;

    justify-content: center;
    align-items: center;
}

.windowclose:hover {
    background-color: red;
}

.windowtext {
    flex: 1;

    display: flex;
    flex-direction: column;

    margin: 0;
}

#welcometext {
    justify-content: center;
    align-items: center;
}

#notes {
    display: none;

    top: 75px;
    left: 900px;

    width: 575px;
    height: 600px;
}

#notesarea {
    display: flex;
    flex-direction: row;
}

#notesheader {
    width: 575px;   
}

#notestext {
    padding-left: 15px;
}

#weather {
    display: none;

    top: 100px;
    left: 200px;

    width: 300px;
    height: 300px;

    justify-content: center;
    align-items: center;
}

#weatherheader {
    width: 300px;
}

#timer {
    display: none;

    top: 400px;
    left: 400px;

    width: 450px;
    height: 250px;

    align-items: center;
}

#timerheader {
    width: 450px;
}

#timertext {
    padding-top: 10px;
    font-size: xxx-large;
}

#timercontrols {
    display: flex;
    flex-direction: row;
    gap: 30px;

    padding-bottom: 25px;
}

#timercontrols button{
    background-color: cornflowerblue;
    width: 40px;

    border-radius: 16px;

    padding: 5px;
}

#timerbuttons {
    display: flex;
    flex-direction: row;

    gap: 50px;

    padding-bottom: 10px;
}

#starttimer {
    width: 50px;
    height: 50px;

    border-radius: 50px;

    background-color: lightgreen;
}

#stoptimer {
    width: 50px;
    height: 50px;

    border-radius: 50px;

    background-color: red;
}

#resettimer {
    width: 50px;
    height: 50px;

    border-radius: 50px;

    background-color: yellow;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 140px;
    height: 540px;

    margin-top: 7px;
    margin-left: 8px;

    padding-top: 10px;
    padding-left: 0px;

    border-radius: 16px;

    background-color: rgba(77, 142, 232, 0.511);

    align-items: center;
}

#sidebar img {
    width: 30px;
    height: 30px;

    border-radius: 16px;
}

#sidebar img:hover {
    background-color: rgba(26, 113, 234, 0.733);
}

#sidebar div {
    cursor: pointer;

    background-color: white;

    text-align: center;

    border: 1px solid black;

    border-radius: 16px;

    width: 110px
}

#sidebar div:hover {
    background-color: whitesmoke;
}

#taskbar {
    display: flex;

    position: fixed;

    top: 0;
    left: 0;
    right: 0;

    background-color: white;

    height: 50px;

    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.75);

    padding-bottom: 15px;
}

.container {
    display: flex;

    flex-direction: column;
    gap: 2px;

    margin-left: auto;
    padding-right: 20px;

    font-size: medium;

    align-items: center;
    padding-top: 12px;
}

#windows {
    position: fixed;

    left: 0;
    right: 0;

    display: grid;
    place-items: center;

    font-size: large;
}

.windowopen {
    border: 2px solid;
    border-radius: 16px;

    width: fit-content;
    height: fit-content;

    padding: 3px 5px 3px 5px;

    background-color: aliceblue;

    cursor: pointer;
}

.app {
    cursor: pointer;

    width: fit-content;
    height: fit-content;

    border-radius: 16px;

    align-items: center;

    padding: 10px;
    font-size: medium;
}

.app:hover {
    background-color: whitesmoke;
}

.selected {
    background-color: rgba(114, 165, 237, 0.578);
}